.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the hero section exactly one browser height */
    width: 100%;
    background: white; /* Example background color */
    color: #333; /* Example text color */
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .hero button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background: #007bff; /* Example button color */
    color: #fff; /* Example button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .hero button:hover {
    background: #0056b3; /* Example button hover color */
  }


.bg {
  /* The image used */
  background-image: url("/bg.png");

  /* Full height */
  height: 100vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}


.fly {
animation-name: fly;
animation-duration: 10s;
animation-iteration-count: infinite;
}

@keyframes fly {
	0% { transform: translate(-10vw,  0px); }
  100%   { transform: translate(50vw, 0px); }  
}

.rotate {
  animation-name: rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  0% { transform: rotate(-10deg); }
 50%   { transform: rotate(10deg); }  
 100%   { transform: rotate(-10deg); }  
}
