.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the hero section exactly one browser height */
    width: 100%;
    background: white; /* Example background color */
    color: #333; /* Example text color */
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .hero button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background: #007bff; /* Example button color */
    color: #fff; /* Example button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .hero button:hover {
    background: #0056b3; /* Example button hover color */
  }


.parallax {
  /* The image used */
  background-image: url("/back.png");

  /* Full height */
  height: 100vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}